.box {
  color: blue;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 10px;
  border-style: solid;
}

.box-one {
  background: red;
  position: absolute;
  border-color: green;
}

.box-two {
  background: yellow;
  position: absolute;
  left: 400px;
  border-color: red;
}

.box-three {
  background: green;
  position: absolute;
  left: 800px;
  border-color: yellow;
}

.text {
  text-transform: uppercase;
}
